*:before, *, *:after{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body{
    background-color: #ddd;
    color: #101010;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.container{
    display: flex;
    gap: 10px;
    margin: 10px;
    position: relative;
    flex-wrap: wrap;
    width: 100%;
    justify-content: center;
}


form, .list_members_container{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 300px;
    height: fit-content;
    border-radius: 4px;
    box-shadow: 0 0 32px #ccc;
    padding: 30px;
    gap: 5x;
}

form h1, .list_members_container h1{
    color: #101010;
    z-index: 10;
    position: relative;
    font-size: 15px;
    align-self: flex-start;
    margin-bottom: 35px;
    display: flex;
    width: 100%;
}

form h1::after, .list_members_container h1::after{
    content: '';
    width: 100%;
    height: 1px;
    background-color: #c1c1c1;
    position: absolute;
    bottom: -15px;
}


form label, form select, form input{
    align-self: flex-start;
}
form label{
    font-weight: 600;
    font-size: 14px;
}

form select, form input{
    margin-top: 3px;
    margin-bottom: 10px;
    border-radius: 4px;
    border: 1px solid #c1c1c1;
    padding: 4px 5px;
    outline: none;
}


form input:focus, form select:focus{
    border: 1px solid #8b8b8b;
}


form button{
    width: 100%;
    padding: 10px 20px;
    border: none;
    background-color: #5842ff;
    color: #fff;
    font-weight: 600;
    font-family: inherit;
    margin-top: 20px;
    border-radius: 4px;
}

form button:hover{
    background-color: #4936de;
}

.list_members_container{
    margin-bottom: 20dvh;
    width: 100%;
    max-width: 700px;

    position: relative;
}

.list_members_container ul.list_members{
    list-style: none;
    width: 100%;

}
.list_members_container ul.list_members li{
    border-bottom: #4936de 1px solid;
    width: 100%;
    padding: 10px;
    display: flex;
    justify-content: space-between;
}

.list_members_container ul.list_members li details{
    display: flex;
    flex-direction: column;
    cursor: pointer;
}

.list_members_container ul.list_members li details p{
    color: #101010;
    font-family: 'Courier New', Courier, monospace;
    margin: 10px 0;
    font-size: 14px;
    font-weight: 700;
}


.list_members_container ul.list_members li .btn_container{
    gap: 5px;
    display: flex;
}

.list_members_container ul.list_members li .btn_container button{
    border: none;
    background-color: #4936de;
    color: #fff;
    font-family: inherit;
    font-weight: 500;
    width: 20px;
    height: 20px;
    border-radius: 4px;
}